<script setup>
defineProps({
  msg: {
    type: String,
    required: true,
  },
});
</script>
<script>
export default {
  data() {
    return {
      name: 'Vue.js'
    }
  },
  methods: {
    getQuote(event) {
      // `event` is the native DOM event
      const headers = { "Access-Control-Allow-Origin": "*" }
      fetch("http://localhost:425", { headers })
        .then(response => response.json())
        .then(data => alert(data.quote))
      //alert(event.target.tagName)
    }
  }
}
</script>

<template>
  <div class="tile-button">
    <button @click="getQuote">Refresh</button>
  </div>

  <div class="greetings">
    <h1 class="green">{{ msg }}</h1>
    <h3>
      Klik op het tegeltje voor een nieuwe wijsheid
    </h3>
  </div>
</template>

<style scoped>
h1 {
  font-weight: 500;
  font-size: 2.6rem;
  top: -10px;
}

h3 {
  font-size: 1.2rem;
}

.greetings h1,
.greetings h3 {
  text-align: center;
}

@media (min-width: 1024px) {
  .greetings h1,
  .greetings h3 {
    text-align: left;
  }
}

.tile-button {
  background: url("../assets/delfts_blauw_blanco.jpeg");
  background-size: contain;
  height: 125px;
  width: 125px;
  margin: 0 10px 1rem;
}
.tile-button button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>
