<script setup>
import WelcomeItem from "./WelcomeItem.vue";
import SupportIcon from "./icons/IconSupport.vue";
</script>

<template>
  <WelcomeItem>
    <template #icon>
      <SupportIcon />
    </template>
    <template #heading>Wijsheid van de dag</template>

    Als het niet gaat zoals het moet, dan moet het maar zoals het gaat.
  </WelcomeItem>
</template>
